.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8b400;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}


.logo a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.nav a:hover {
    text-decoration: underline;
}


.homepage {
    margin-top: 60px;
}
