.reviews {
    padding: 20px;
    text-align: center;
}

.reviews h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.reviews ul {
    list-style: none;
    padding: 0;
}

.reviews li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.reviews li p {
    margin: 5px 0;
    font-size: 1.2em;
}
